In [1]:
import pandas as pd

In [6]:
df=pd.read_excel('WeatherData.xlsx')

In [15]:
df.head()

,EST,Tempereatur,DewPoint,Humidity,Sea Level Presseln,VisibilityMiles,WindSpeedMPH,Precipitationln,CloudCover,Events,WindDirDegrees
0,2016-01-01 00:00:00,38,23,52,30.03,10,8.0,0,0,NaN,281
1,2016-02-01 00:00:00,36,18,46,30.02,10,7.0,0,0,NaN,275
2,2016-03-01 00:00:00,40,21,47,29.86,10,8.0,0,0,NaN,277
3,2016-04-01 00:00:00,25,9,44,30.05,10,9.0,0,0,NaN,345
4,2016-05-01 00:00:00,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [9]:
df['Tempereatur'].max()

50

In [17]:
df['EST'][df['Events']=='Rain']

8     2016-09-01 00:00:00
9     2016-10-01 00:00:00
15              1/16/2016
26              1/27/2016
Name: EST, dtype: object

In [19]:
df['WindSpeedMPH'].mean()

6.892857142857143

In [20]:
df.fillna(0, inplace=True)
df['WindSpeedMPH'].mean()

6.225806451612903

# Topics
### Creating dataframe
### Dealing with Rows and columns
### Operations : min ,max , std ,describe
### Conditional selection
###  set Index

In [27]:
import pandas as pd
weather_data = {
    'day':['1/1/2017' , '1/2/2017', '1/3/2017','1/4/2017', '1/5/2017' , '1/6/2017'],
    'temperature' :[32,35,28,24,32,31],
    'windspeed' : [6,7,2,7,4,2],
    'event':['Rain','sunny','snow','snow','rain','sunny']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  sunny
2  1/3/2017           28          2   snow
3  1/4/2017           24          7   snow
4  1/5/2017           32          4   rain
5  1/6/2017           31          2  sunny

In [28]:
df.shape

(6, 4)

In [29]:
type(df['event'])

pandas.core.series.Series

In [31]:
df[['event' ,'day' ,'temperature']]

   event       day  temperature
0   Rain  1/1/2017           32
1  sunny  1/2/2017           35
2   snow  1/3/2017           28
3   snow  1/4/2017           24
4   rain  1/5/2017           32
5  sunny  1/6/2017           31

In [32]:
df['temperature'].max()

35

In [34]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [35]:
df[df.temperature>=32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  sunny
4  1/5/2017           32          4   rain

In [41]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  sunny
2  1/3/2017           28          2   snow
3  1/4/2017           24          7   snow
4  1/5/2017           32          4   rain
5  1/6/2017           31          2  sunny

In [42]:
df.index

RangeIndex(start=0, stop=6, step=1)

 # Differents ways to create a dataframe
 <h4>using CSV
 <h4>using Excel
 <h4>using python Dictionary
 <h4>using list of tuples
     <h4>using lisy of dictionary

In [48]:
import pandas as pd

# using csv
df = pd.read_csv('Weather_Data.csv')
df.head(3)

,Date/Time,Temp_C,Dew Point Temp_C,Rel Hum_%,Wind Speed_km/h,Visibility_km,Press_kPa,Weather
0,1/1/2012 0:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,1/1/2012 1:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,1/1/2012 2:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"

In [49]:
#using Excel
import pandas as pd
df = pd.read_excel('WeatherData.xlsx')
df.head(3)

,EST,Tempereatur,DewPoint,Humidity,Sea Level Presseln,VisibilityMiles,WindSpeedMPH,Precipitationln,CloudCover,Events,WindDirDegrees
0,2016-01-01 00:00:00,38,23,52,30.03,10,8.0,0,0,NaN,281
1,2016-02-01 00:00:00,36,18,46,30.02,10,7.0,0,0,NaN,275
2,2016-03-01 00:00:00,40,21,47,29.86,10,8.0,0,0,NaN,277

In [50]:
#Using dictionary
weather_data = {
    'day':['1/1/2017' , '1/2/2017', '1/3/2017','1/4/2017', '1/5/2017' , '1/6/2017'],
    'temperature' :[32,35,28,24,32,31],
    'windspeed' : [6,7,2,7,4,2],
    'event':['Rain','sunny','snow','snow','rain','sunny']
}
df = pd.DataFrame(weather_data)
df.head(3)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  sunny
2  1/3/2017           28          2   snow

In [51]:
#using a tuple list
weather_data =(
    ('1/1/2017', 32 , 6 , 'Rain'),
    ('1/2/2017', 35 , 7 , 'Sunny'),
    ('1/3/2017', 28 , 2 , 'Snow'),
    ('1/4/2017', 42 , 8 , 'Rain'),
)
df = pd.DataFrame(weather_data , columns=["day" , "temperature" ,"windspeed","event"])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           42          8   Rain

In [52]:
weather_data = [
    {'day': '1/1/2017' , 'temperature':32 , 'windspeed':6 , 'event':'Rain'},
     {'day': '1/2/2017' , 'temperature':37 , 'windspeed':7 , 'event':'Snow'},   
]
df =pd.DataFrame(weather_data)
df

        day  temperature  windspeed event
0  1/1/2017           32          6  Rain
1  1/2/2017           37          7  Snow

## Read csv
## Write  csv
## Read Excel
## Write Excel

continue.........